In [2]:
import pandas as pd
import numpy as np

## Trabajemos en conformar el Dataframe que englobe a los Homicidios-Hechos

In [187]:
df_homicidiosHechos = pd.read_csv('..//data//homicidios hechos.csv')
df_homicidiosHechos.head(1)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO

In [188]:
# Consultar info del DF
df_homicidiosHechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    object
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: float64(1), int64(5), object(15)
memory usage: 114.3+ KB

In [189]:
# Cambiar el nombre de la columna 'N_VICTIMAS' a 'VICTIMAS'
df_homicidiosHechos.rename(columns={'N_VICTIMAS': 'VICTIMAS'}, inplace=True)

In [190]:
# Cambiar el nombre de la columna 'AAAA' a 'AÑO'
df_homicidiosHechos.rename(columns={'AAAA': 'AÑO'}, inplace=True)

In [191]:
# Cambiar el nombre de la columna 'MM' a 'MES'
df_homicidiosHechos.rename(columns={'MM': 'MES'}, inplace=True)

In [192]:
# Cambiar el nombre de la columna 'DD' a 'DIA'
df_homicidiosHechos.rename(columns={'DD': 'DIA'}, inplace=True)

In [193]:
# Cambiar el tipo de datos de la columna 'ID' a str
df_homicidiosHechos['ID'] = df_homicidiosHechos['ID'].astype(str)

In [194]:
# Cambiar el nombre de la columna 'ID' a 'id_siniestro'
df_homicidiosHechos.rename(columns={'ID': 'ID_SINIESTRO'}, inplace=True)

In [195]:
# Identificar y corregir los datos incorrectos en la columna 'HORA' (SD)
df_homicidiosHechos = df_homicidiosHechos[df_homicidiosHechos['HORA'] != 'SD']

In [196]:
# Cambiar el tipo de datos de la columna 'LUGAR_DEL_HECHO' a str
df_homicidiosHechos['HORA'] = df_homicidiosHechos['HORA'].astype(str)

In [197]:
# Normalizar el texto y capitaliza la columna 'LUGAR_DEL_HECHO'
df_homicidiosHechos['LUGAR_DEL_HECHO'] = df_homicidiosHechos['LUGAR_DEL_HECHO'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.title()

In [198]:
# Cambiar el tipo de datos de la columna 'LUGAR_DEL_HECHO' a str
df_homicidiosHechos['LUGAR_DEL_HECHO'] = df_homicidiosHechos['LUGAR_DEL_HECHO'].astype(str)

In [199]:
# Cambiar el nombre de la columna 'LUGAR_DEL_HECHO' a 'DIRECCION'
df_homicidiosHechos.rename(columns={'LUGAR_DEL_HECHO': 'DIRECCION'}, inplace=True)

In [200]:
# Normalizar el texto y capitaliza la columna 'LUGAR_DEL_HECHO'
df_homicidiosHechos['Dirección Normalizada'] = df_homicidiosHechos['Dirección Normalizada'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.title()

In [201]:
# Cambiar el tipo de datos de la columna 'LUGAR_DEL_HECHO' a str
df_homicidiosHechos['Dirección Normalizada'] = df_homicidiosHechos['Dirección Normalizada'].astype(str)

In [202]:
# Cambiar el nombre de la columna 'Dirección Normalizad' a 'DIRECCION_NORMALIZDA'
df_homicidiosHechos.rename(columns={'Dirección Normalizada': 'DIRECCION_NORMALIZDA'}, inplace=True)

In [203]:
# Cambiar el nombre de la columna 'XY (CABA)' a 'XY_CABA'
df_homicidiosHechos.rename(columns={'XY (CABA)': 'XY_CABA'}, inplace=True)

In [204]:
# Cambiar el tipo de datos de la columna 'ID' a str
df_homicidiosHechos['XY_CABA'] = df_homicidiosHechos['XY_CABA'].astype(str)

In [205]:
# Cambiar el nombre de la columna 'pos X' a 'POS_X'
df_homicidiosHechos = df_homicidiosHechos.rename(columns={'pos x': 'POS_X'})

In [206]:
# Cambiar el tipo de datos de la columna 'ID' a str
df_homicidiosHechos['POS_X'] = df_homicidiosHechos['POS_X'].astype(str)

In [207]:
# Cambiar el nombre de la columna 'pos y' a 'POS_Y'
df_homicidiosHechos.rename(columns={'pos y': 'POS_Y'}, inplace=True)

In [208]:
# Cambiar el tipo de datos de la columna 'ID' a str
df_homicidiosHechos['POS_Y'] = df_homicidiosHechos['POS_Y'].astype(str)

In [209]:
# Normalizar el texto y capitaliza la columna 'PARTICIPANTES'
df_homicidiosHechos['PARTICIPANTES'] = df_homicidiosHechos['PARTICIPANTES'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.title()

In [210]:
# Cambiar el tipo de datos de la columna 'LUGAR_DEL_HECHO' a str
df_homicidiosHechos['PARTICIPANTES'] = df_homicidiosHechos['PARTICIPANTES'].astype(str)

In [211]:
# Normalizar el texto y capitaliza la columna 'PARTICIPANTES'
df_homicidiosHechos['VICTIMA'] = df_homicidiosHechos['VICTIMA'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.title()

In [212]:
# Cambiar el tipo de datos de la columna 'LUGAR_DEL_HECHO' a str
df_homicidiosHechos['VICTIMA'] = df_homicidiosHechos['VICTIMA'].astype(str)

In [213]:
# Normalizar el texto y capitaliza la columna 'PARTICIPANTES'
df_homicidiosHechos['ACUSADO'] = df_homicidiosHechos['ACUSADO'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.title()

In [214]:
# Cambiar el tipo de datos de la columna 'LUGAR_DEL_HECHO' a str
df_homicidiosHechos['ACUSADO'] = df_homicidiosHechos['ACUSADO'].astype(str)

In [215]:
# Listar de nombres de columnas a eliminar
columnas_a_eliminar = ['FECHA', 'HH', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce']

# Eliminar las columnas especificadas
df_homicidiosHechos = df_homicidiosHechos.drop(columns=columnas_a_eliminar)

In [216]:
df_homicidiosHechos.head(1)

,ID_SINIESTRO,VICTIMAS,AÑO,MES,DIA,HORA,DIRECCION,DIRECCION_NORMALIZDA,COMUNA,XY_CABA,POS_X,POS_Y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016,1,1,4:00:00,Av Piedra Buena Y Av Fernandez De La Cruz,"Piedra Buena Av. Y Fernandez De La Cruz, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,Moto-Auto,Moto,Auto

In [218]:
df_homicidiosHechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_SINIESTRO          695 non-null    object
 1   VICTIMAS              695 non-null    int64
 2   AÑO                   695 non-null    int64
 3   MES                   695 non-null    int64
 4   DIA                   695 non-null    int64
 5   HORA                  695 non-null    object
 6   DIRECCION             695 non-null    object
 7   DIRECCION_NORMALIZDA  695 non-null    object
 8   COMUNA                695 non-null    int64
 9   XY_CABA               695 non-null    object
 10  POS_X                 695 non-null    object
 11  POS_Y                 695 non-null    object
 12  PARTICIPANTES         695 non-null    object
 13  VICTIMA               695 non-null    object
 14  ACUSADO               695 non-null    object
dtypes: int64(5), object(10)
memory usage: 86.9+ KB

In [219]:
# Guarda el DataFrame despues del ETL en un archivo CSV
df_homicidiosHechos = df_homicidiosHechos.to_csv('..//data//homicidios_hechos_etl.csv')

## Trabajemos en conformar el Dataframe que englobe a los Homicidios-Victimas

In [220]:
df_homicidiosVictimas = pd.read_csv('..//data//homicidios victimas.csv')
df_homicidiosVictimas.head(1)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1/1/2016,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,1/1/2016

In [223]:
df_homicidiosVictimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_SINIESTRO         717 non-null    object
 1   FECHA                717 non-null    object
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: int64(3), object(7)
memory usage: 56.1+ KB

In [221]:
# Cambiar el nombre de la columna 'ID_hecho' a 'id_siniestro'
df_homicidiosVictimas.rename(columns={'ID_hecho': 'ID_SINIESTRO'}, inplace=True)

In [224]:
# Cambiar el nombre de la columna 'AAAA' a 'AÑO'
df_homicidiosVictimas.rename(columns={'AAAA': 'AÑO'}, inplace=True)

In [225]:
# Cambiar el nombre de la columna 'AAAA' a 'AÑO'
df_homicidiosVictimas.rename(columns={'MM': 'MES'}, inplace=True)

In [226]:
# Cambiar el nombre de la columna 'AAAA' a 'AÑO'
df_homicidiosVictimas.rename(columns={'DD': 'DIA'}, inplace=True)

In [227]:
# Normalizar el texto y capitaliza la columna 'ROL'
df_homicidiosVictimas['ROL'] = df_homicidiosVictimas['ROL'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.title()

In [228]:
# Cambiar el tipo de datos de la columna 'ROL' a str
df_homicidiosVictimas['ROL'] = df_homicidiosVictimas['ROL'].astype(str)

In [229]:
# Normalizar el texto y capitaliza la columna 'ROL'
df_homicidiosVictimas['VICTIMA'] = df_homicidiosVictimas['VICTIMA'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.title()

In [230]:
# Cambiar el tipo de datos de la columna 'ROL' a str
df_homicidiosVictimas['VICTIMA'] = df_homicidiosVictimas['VICTIMA'].astype(str)

In [233]:
# Normalizar el texto y capitaliza la columna 'SEXO'
df_homicidiosVictimas['SEXO'] = df_homicidiosVictimas['SEXO'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8').str.title()

In [234]:
# Cambiar el tipo de datos de la columna 'SEXO' a str
df_homicidiosVictimas['SEXO'] = df_homicidiosVictimas['SEXO'].astype(str)

In [236]:
# Listar de nombres de columnas a eliminar
columnas_a_eliminar = ['FECHA']

# Eliminar las columnas especificadas
df_homicidiosVictimas = df_homicidiosVictimas.drop(columns=columnas_a_eliminar)

In [237]:
df_homicidiosVictimas.head(1)

,ID_SINIESTRO,AÑO,MES,DIA,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016,1,1,Conductor,Moto,Masculino,19,1/1/2016

In [238]:
df_homicidiosVictimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_SINIESTRO         717 non-null    object
 1   AÑO                  717 non-null    int64
 2   MES                  717 non-null    int64
 3   DIA                  717 non-null    int64
 4   ROL                  717 non-null    object
 5   VICTIMA              717 non-null    object
 6   SEXO                 717 non-null    object
 7   EDAD                 717 non-null    object
 8   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: int64(3), object(6)
memory usage: 50.5+ KB

In [239]:
# Guarda el DataFrame despues del ETL en un archivo CSV
df_homicidiosVictimas = df_homicidiosVictimas.to_csv('..//data//homicidios_victimas_etl.csv')

## Trabajemos en conformar el Dataframe que englobe a los Lesiones-Hechos

In [4]:
df_lesionesHechos = pd.read_csv('..//data//lesiones hechos.csv')
df_lesionesHechos.head(1)

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,1/1/2019,9:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD

In [5]:
df_lesionesHechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     23785 non-null  object
 1   n_victimas             23785 non-null  int64
 2   aaaa                   23785 non-null  int64
 3   mm                     23785 non-null  int64
 4   dd                     23785 non-null  int64
 5   fecha                  23785 non-null  object
 6   hora                   23785 non-null  object
 7   franja_hora            23780 non-null  object
 8   direccion_normalizada  23732 non-null  object
 9   comuna                 23616 non-null  object
 10  tipo_calle             23785 non-null  object
 11  otra_direccion         23785 non-null  object
 12  calle                  12867 non-null  object
 13  altura                 12771 non-null  float64
 14  cruce                  9407 non-null   object
 15  geocodificacion_CABA   23746 non-null  object
 16  longitud               23523 non-null  object
 17  latutid                23523 non-null  object
 18  victima                23785 non-null  object
 19  acusado                23785 non-null  object
 20  participantes          23785 non-null  object
 21  moto                   23692 non-null  object
 22  auto                   23692 non-null  object
 23  transporte_publico     23692 non-null  object
 24  camion                 23692 non-null  object
 25  ciclista               23692 non-null  object
 26  gravedad               23785 non-null  object
dtypes: float64(1), int64(4), object(22)
memory usage: 4.9+ MB